/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(pink, orange);
    text-align: center;
    color: rgb(58, 45, 45);
}

.navbar-color {
    background: linear-gradient( orange, pink);
}

.nav-link-color {
    color: rgb(58, 45, 45) !important;
}